@font-face {
  src: url('@/assets/fonts/Poppins-Italic.ttf');
  font-family: 'Poppins-Italic';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url('@/assets/fonts/Poppins-ExtraBoldItalic.ttf');
  font-family: 'Poppins-ExtraBold-Italic';
  font-style: italic;
  font-weight: 800;
}

@font-face {
  src: url('@/assets/fonts/Poppins-ExtraBold.ttf');
  font-family: 'Poppins-ExtraBold';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('@/assets/fonts/Poppins-Regular.ttf');
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('@/assets/fonts/Poppins-Bold.ttf');
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 700;
}

$poppins: Poppins, sans-serif;
$poppins-italic: Poppins-Italic, sans-serif;
$poppins-ExtraBold-italic: Poppins-ExtraBold-Italic, sans-serif;

body {
  font-family: $poppins;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  background: theme-color(off-white);
}

@import 'theme';
